MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/nightscout?retryWrites=true&w=majority
API_SECRET=changeme12chars
DISPLAY_UNITS=mg/dl
PORT=1337
BASE_URL=https://ns-sf.joshnliz.com
CUSTOM_TITLE=ns-sf
ENABLE=careportal rawbg iob cob cage sage
AUTH_DEFAULT_ROLES=readable
ALARM_TYPES=simple
